{% extends 'main/application.html' %}

{% block content %}

<h2>Upload your data</h2>
<div>
  <form method="post" enctype="multipart/form-data" action="{% url 'openhumans:upload' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Upload your data">
  </form>
</div>
<p class="lead">
  A word of warning: <strong>This uploader does not work well for large files.</strong>
  If an upload takes longer than 30 seconds to finish the website will time out.
</p>

{% endblock %}
