{% extends 'main/application.html' %}

{% block content %}

<h2>Upload your data</h2>

<form method="post" enctype="multipart/form-data" action="{% url 'openhumans:upload' %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="file_desc">Description of the data (type of data, sampling date etc.)</label>
    <input type="text" class="form-control" id="file_desc" name="file_desc" placeholder="Your description goes here"></textarea>
  </div>
  <div class="form-group">
    <label for="file_tags">Tags for your data</label>
    <input type="text" class="form-control"
        name="file_tags"
        id="file_tags"
        placeholder="Give a comma-separated list of descriptive tags">
  </div>
  <div class="form-group">
    <label for="data_file">Data File</label>
    <input type="file" name="data_file"
         id="data_file">
   </div>
  <input class="btn btn-primary" type="submit" value="Upload your data">
</form>
<p class="lead">
  A word of warning: <strong>This uploader does not work well for large files.</strong>
  If an upload takes longer than 30 seconds to finish the website will time out.
</p>

{% endblock %}
